// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.background-color {
    background-color: #B0C4DE;
}

.title-text {
    font-size: 48px;
}

.description-text {
    font-size: 28px;
}

.description-text, .title-card {
    background-color: #FFF;
}

.button {
    font-size: 18px;
    font-weight: bold;
}

.image-card {
    height: 40%;
}

.image {
    height: 60%;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
}

@media screen and (min-width: 321px) and (orientation: portrait) {
    .title-card, .description-card, .button {
        margin-top: 15%;
    }
}